body, html, p {
  margin: 0;
  padding: 0;
}

p, a {
  letter-spacing: 0.05em;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

ul, li {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-sitename {
  writing-mode: vertical-lr;
}

.content-sns li svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all .3s;
}

.content-sns li:hover svg {
  fill: #124e73;
}

.content-sns li:not(:last-child) {
  margin-bottom: 30px;
}

.wrap-work {
  background-color: #fff;
  transition: all .3s;
  clip-path: polygon(0 100%, 100% 0, 0% 0%);
  left: 200px;
}

.wrap-work:hover {
  background-color: #236e9d;
  border: 1px solid #fff;
}

.wrap-work:hover p {
  color: #fff;
}

.wrap-work p {
  writing-mode: vertical-lr;
  color: #236e9d;
}

.wrap-about {
  border: 1px solid #fff;
  transition: all .3s;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.wrap-about:hover {
  background-color: #fff;
  border: 1px solid #236e9d;
}
.wrap-about:hover p {
  color: #236e9d;
}

.wrap-about p {
  color: #fff;
  font-size: 120px;
  position: absolute;
  font-weight: 700;
  right: 40px;
  bottom: -48px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 100;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 60px 40px 30px 40px;
}

.modal-about-sns-link {
  font-weight: bold;
  display: inline-block;
}
.modal-about-sns-link span {
  border-bottom: 2px solid #236e9d;
  padding: 0 0 5px 0;
}
.modal-about-sns-link:hover {
  color: #1da1f2;
}
.modal-about-sns-link:hover span {
  border-bottom: 2px solid #1da1f2;
}

.modal-about-link {
  color: #236e9d;
  border-bottom: 1px solid #236e9d;
  font-size: 13px;
  text-decoration: none;
  margin: 0 auto 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  display: inline-block;
  transition: all .3s;
}
.modal-about-link:hover {
  color: #124e73;
  border-bottom: 1px solid #124e73;
}
.modal-about-link svg {
  display: inline-block;
  margin: 0 0 0 5px;
}

.list-border li {
  font-size: 13px;
  padding: 0 0 0 15px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 1.8;
}
.list-border li:before {
  content: '';
  width: 8px;
  height: 2px;
  background-color: #236e9d;
  position: absolute;
  left: 0;
  top: 50%;
}

.modal-close-button {
  margin: 40px auto 0;
  transition: all .3s;
}
.modal-close-button:hover {
  color: #124e73;
}

.modal-content {
  transform: translateY(-50%)!important;
}

.index {
  border-left: 6px solid #236e9d;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  margin: 0 auto 20px;
  text-transform: uppercase;
}