.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
}

p, a {
  letter-spacing: 0.05em;
  color: #333;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none!important;
}

ul, li {
  list-style: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html, p {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  height: 100vh;
  background-color: #236e9d;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content-sitename {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.content-sns {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

.content-sns li svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  transition: all .3s;
}

.content-sns li:hover svg {
  fill: #124e73;
}

.content-sns li:not(:last-child) {
  margin-bottom: 30px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.wrap-work {
  background-color: #fff;
  text-decoration: none;
  position: relative;
  transition: all .3s;
  clip-path: polygon(0 100%, 100% 0, 0% 0%);
  left: 200px;
}

.wrap-work:hover {
  background-color: #236e9d;
  border: 1px solid #fff;
}

.wrap-work:hover p {
  color: #fff;
}

.wrap-work p {
  writing-mode: vertical-lr;
  color: #236e9d;
}

.wrap-about {
  border: 1px solid #fff;
  position: relative;
  transition: all .3s;
  cursor: pointer;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  right: 200px;
}
.wrap-about:hover {
  background-color: #fff;
  border: 1px solid #236e9d;
}
.wrap-about:hover p {
  color: #236e9d;
}

.wrap-about p {
  color: #fff;
  font-size: 120px;
  position: absolute;
  font-weight: 700;
  right: 40px;
  bottom: -48px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 100;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main {
  position: fixed;
  background-color: white;
  border-radius: 50px;
  width: 70%;
  height: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 40px 30px 40px;
}

.modal-about-sns-link {
  font-weight: bold;
  display: inline-block;
}
.modal-about-sns-link span {
  border-bottom: 2px solid #236e9d;
  padding: 0 0 5px 0;
}
.modal-about-sns-link:hover {
  color: #1da1f2;
}
.modal-about-sns-link:hover span {
  border-bottom: 2px solid #1da1f2;
}

.modal-about-link {
  color: #236e9d;
  border-bottom: 1px solid #236e9d;
  font-size: 13px;
  text-decoration: none;
  margin: 0 auto 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  display: inline-block;
  transition: all .3s;
}
.modal-about-link:hover {
  color: #124e73;
  border-bottom: 1px solid #124e73;
}
.modal-about-link svg {
  display: inline-block;
  margin: 0 0 0 5px;
}

.modal-about-left {
  width: 48%;
  text-align: left;
  border-right: 2px solid #ededed;
  padding: 0 30px 0 0;
  height: 500px;
  overflow-y: scroll;
}
.modal-about-right {
  width: 48%;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
  padding: 0 30px 0 0;
}

.list-border li {
  font-size: 13px;
  padding: 0 0 0 15px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 1.8;
}
.list-border li:before {
  content: '';
  width: 8px;
  height: 2px;
  background-color: #236e9d;
  position: absolute;
  left: 0;
  top: 50%;
}

.modal-close-button {
  color: #236e9d;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 40px auto 0;
  transition: all .3s;
}
.modal-close-button:hover {
  color: #124e73;
}

.index {
  color: #777;
  border-left: 6px solid #236e9d;
  padding: 0 0 0 10px;
  letter-spacing: 0.08em;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  margin: 0 auto 20px;
  text-transform: uppercase;
}