@import './index.scss';

.p- {
  /* 
    トップ
  */
  &home {
    position: relative;
    height: 100vh;
    background-color: var(--color-accent);
    overflow: hidden;
    display: flex;
    align-items: center;
    &__sitename {
      font-family: var(--font-accent);
      font-weight: 600;
      color: var(--color--base);
      position: absolute;
      letter-spacing: .1em;
      writing-mode: vertical-lr;
      font-size: 1.6rem;
      text-align: center;
      display: block;
      left: 3rem;
      transform: translateY(-50%);
      text-transform: uppercase;
      width: 3rem;
      top: 50%;
      @media screen and (max-width: 1024px) {
        writing-mode: horizontal-tb;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        width: 100%;
      }
    }
    &__wrap {
      @include flex01;
      margin: 0 auto;
      height: unset;
      flex-wrap: unset;
      width: 80%;
      @media screen and (max-width: 1300px) {
        width: 90%;
      }
      @media screen and (max-width: 1024px) {
        height: 80vh;
        flex-wrap: wrap;
      }
    }
    &__work {
      overflow: hidden;
      position: relative;
      transition: var(--transition01);
      clip-path: polygon(0 100%, 100% 0, 0% 0%);
      background-color: var(--color--base);
      height: 70vh;
      left: 200px;
      width: 48%;
      @media screen and (max-width: 1300px) {
        width: 100%;
        left: 3rem;
      }
      @media screen and (max-width: 1024px) {
        left: 0;
        height: 35vh;
      }
      &:hover {
        background-color: var(--color-accent);
        border: 1px solid var(--color--base);
        p {
          color: var(--color--base);
        }
      }
      &Text {
        font-weight: bold;
        position: absolute;
        writing-mode: vertical-rl;
        color: var(--color-accent);
        font-family: var(--font-accent);
        font-weight: 700;
        left: -48px;
        top: 3.5rem;
        font-size: 12rem;
        @media screen and (max-width: 1700px) {
          font-size: 10rem;
        }
        @media screen and (max-width: 1300px) {
        }
        @media screen and (max-width: 1024px) {
          font-size: 8rem;
          top: 2rem;
          left: -35px;
        }
        @media screen and (max-width: 599px) {
          font-size: 5.8rem;
          left: -26px;
        }
      }
    }
    &__about {
      height: 70vh;
      right: 200px;
      width: 48%;
      border: 1px solid var(--color--base);
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: var(--transition01);
      @media screen and (max-width: 1300px) {
        width: 100%;
        right: 3rem;
      }
      @media screen and (max-width: 1024px) {
        // clip-path: polygon(100% 100%, 0 100%, 100% 100%);
        clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
        right: 0;
        height: 35vh;
      }
      &:hover {
        background-color: var(--color--base);
        border: 1px solid var(--color-accent);
        p {
          color: var(--color-accent);
        }
      }
      &Text {
        font-family: var(--font-accent);
        font-weight: 700;
        color: var(--color--base);
        right: 4rem;
        bottom: -48px;
        font-size: 12rem;
        font-weight: bold;
        position: absolute;
        @media screen and (max-width: 1700px) {
          font-size: 10rem;
          bottom: -42px;
        }
        @media screen and (max-width: 1300px) {
          bottom: -40px;
          right: 35px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 8rem;
          bottom: -32px;
        }
        @media screen and (max-width: 599px) {
          font-size: 5.8rem;
          bottom: -24px;
          right: 2rem;
        }
      }
    }
  }

  /* 
    About
  */
  &about {
    &__modal {
      &Overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
      &Button {
        right: 8rem;
        top: 4rem;
        transition: var(--transition01);
        font-weight: bold;
        transition: all 0.3s;
        position: absolute;
        width: 4rem;
        height: 4rem;
        border: 2px solid var(--color-accent);
        background-color: var(--color--base);
        border-radius: 50%;
        @include flex01;
        @media screen and (max-width: 1024px) {
          font-size: 3rem;
          right: 4rem;
          top: 4rem;
        }
        @media screen and (max-width: 599px) {
          width: 3.5rem;
          height: 3.5rem;
          right: 1.5rem;
          bottom: 2rem;
          top: unset;
        }
        &:hover {
          background-color: var(--color-accent);
          .p-about__modalButtonText {
            color: var(--color--base);
          }
        }
        &Text {
          font-size: 3.5rem;
          color: var(--color-accent);
          font-weight: 400;
          margin-bottom: .4rem;
          transition: var(--transition01);
          @media screen and (max-width: 599px) {
            font-size: 3rem;
          }
        }
      }
      &Content {
        height: auto;
        width: 70%;
        border-radius: 2rem;
        max-width: unset;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 100;
        @media screen and (max-width: 1024px) {
          width: 80%;
          height: 85vh;
        }
        @media screen and (max-width: 599px) {
          width: 90%;
          height: 90vh;
        }
      }
    }
  }

  /* 
    Work
  */
  &work {
    background-color: var(--color-accent);
    position: relative;
    max-width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 24rem 0 12rem;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      padding: 16rem 0 8rem;
    }
    &__inner {
      background-color: var(--color--base);
      margin: 0 auto;
      position: relative;
      padding: 20rem 5rem 10rem 5rem;
      // border-radius: 3rem;
      max-width: 1400px;
      width: 80%;
      @media screen and (max-width: 1024px) {
        padding: 12rem 2.8rem 8rem;
        width: 90%;
      }
      @media screen and (max-width: 599px) {
        padding: 9rem 1.6rem 6rem;
      }
      &::before {
        content: '';
        clip-path: polygon(100% 46%, 100% 100%, 0% 100%);
        background-color: var(--color--base);
        height: 200px;
        width: 100%;
        top: -200px;
        left: 0;
        display: block;
        position: absolute;
      }
    }
    &__section {
      &:not(:last-child) {
        margin: 0 auto 8rem;
        @media screen and (max-width: 1024px) {
          margin: 0 auto 4rem;
        }
      }
    }
  }

  /* 
    Job History
  */
  &jobHistory {
    &__section {
      margin: 0 auto 7rem;
    }
  }
}

.c- {
  &home {
  /* 
    トップ：アカウントリスト
  */
    &__account {
      display: unset;
      left: unset;
      bottom: unset;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      margin: 0;
      @media screen and (max-width: 1024px) {
        display: grid;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        bottom: 2rem;
        top: unset;
        grid-auto-flow: column;
        gap: 0 1.5rem;
      }
      &Item {
        @media screen and (max-width: 1024px) {
          margin-bottom: 0;
        }
        svg {
          width: 2.4rem;
          height: 2.4rem;
          fill: var(--color--base);
          transition: var(--transition01);
          @media screen and (max-width: 1024px) {
            width: 2.1rem;
            height: 2.1rem;
          }
        }
        &:not(:last-child) {
          margin-bottom: 3rem;
          @media screen and (max-width: 1024px) {
            margin: 0 2rem 0 0;
          }
        }
        &:hover {
          svg {
            fill: var(--color-accent-dark);
          }
        }
      }
    }
  }

  &about {
    /* 
      About：モーダル
    */
    &__modal {
      background-color: var(--color--base);
      padding: 6rem 3rem 10rem 4.6rem;
      height: 80vh;
      border-radius: 5rem;
      @media screen and (max-width: 1024px) {
        padding: 3rem 1rem 2rem 1.6rem;
        height: 85vh;
        border-radius: 3rem;
      }
      @media screen and (max-width: 599px) {
        border-radius: 2rem;
        height: 90vh;
      }
      &Scroll {
        height: 70vh;
        @media screen and (max-width: 1024px) {
          height: 80vh;
        }
        @media screen and (max-width: 599px) {
          height: 78vh;
        }
      }
      &Content {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 2rem 0 0;
      }
      &Name {
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 3.6rem;
        margin-bottom: 4rem;
        color: var(--color-accent);
        @media screen and (max-width: 1024px) {
          font-size: 2.8rem;
          margin-bottom: 3rem;
        }
        @media screen and (max-width: 599px) {
          font-size: 2.4rem;
          margin: 2rem auto 3rem;
        }
        &Text {
          border-bottom: 3px solid var(--color-accent);
          display: inline-block;
          font-family: var(--font-accent);
        }
      }
      &Index {
        font-family: var(--font-accent);
        border-left: 6px solid var(--color-accent);
        font-size: 2.1rem;
        line-height: 1;
        font-weight: bold;
        margin: 0 auto 2rem;
        text-transform: uppercase;
        color: var(--color-text-gray-lighter01);
        padding: 0 0 0 1rem;
        letter-spacing: 0.08em;
        @media screen and (max-width: 599px) {
          margin: 0 auto 1.5rem;
        }
        &:not(:nth-of-type(1)) {
          margin-top: 3rem;
          @media screen and (max-width: 599px) {
            margin-top: 2rem;
          }
        }
      }
      &Text {
        &01 {
          font-size: 1.4rem;
          line-height: 1.8;
          letter-spacing: .08em;
          margin: 0 auto 1.4rem;
          @media screen and (max-width: 1024px) {
            font-size: 1.3rem;
            line-height: 1.7;
          }
        }
        &02 {
          font-size: 1.2rem;
          line-height: 1.8;
          letter-spacing: .08em;
          color: var(--color-text-gray-lighter01);
          @media screen and (max-width: 1024px) {
            font-size: 1.1rem;
          }
        }
      }
      &Link {
        color: var(--color-accent);
        border-bottom: 1px solid var(--color-accent);
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        text-decoration: none;
        margin: 0 auto 2rem;
        font-weight: bold;
        letter-spacing: .05em;
        display: inline-block;
        transition: var(--transition01);
        &:hover {
          color: var(--color-accent-dark);
          border-bottom: 1px solid var(--color-accent-dark);
        }
        svg {
          display: inline-block;
          margin: 0 0 0 .5rem;
        }
      }
      &List {
        list-style-type: none;
        margin: 0 0 2.4rem;
        font-size: 1.3rem;
      }
      &Item {
        padding: 0 0 0 1.5rem;
        position: relative;
        letter-spacing: .08em;
        line-height: 1.8;
        font-size: 1.4rem;
        @media screen and (max-width: 599px) {
          font-size: 1.3rem;
        }
        &:not(:last-child) {
          margin-bottom: 3px;
        }
        &::before {
          content: "";
          width: .8rem;
          height: .2rem;
          background-color: var(--color-accent);
          position: absolute;
          left: 0;
          top: 1rem;
        }
        .c-about__modalLink {
          margin-bottom: 0;
        }
        &Link {
          transition: var(--transition01);
          &:hover {
            color: var(--color-accent);
          }
        }
      }
    }
  }

  /* 
    Work
  */
  &work {
    &__title {
      font-family: var(--font-accent);
      color: var(--color-accent);
      text-align: center;
      font-weight: 700;
      line-height: 1;
      position: absolute;
      font-size: 14rem;
      margin: 0 auto;
      top: 3.5rem;
      left: 3rem;
      @media screen and (max-width: 1024px) {
        font-size: 10rem;
      }
      @media screen and (max-width: 599px) {
        left: 1rem;
        font-size: 7.2rem;
        top: 2rem;
      }
    }
    &__index {
      &01 {
        font-weight: bold;
        text-align: left;
        letter-spacing: .15em;
        font-size: 2.8rem;
        margin: 1.6rem auto 1rem;
        font-weight: 400;
        color: var(--color-text-gray-lighter02);
        @media screen and (max-width: 1024px) {
          font-size: 2.4rem;
          margin: 1.6rem auto 2rem;
        }
      }
      &02 {
        font-family: var(--font-accent);
        text-align: center;
        font-weight: 600;
        color: var(--color-text);
        font-size: 4.2rem;
        margin: 0 auto 4rem;
        text-align: left;
        letter-spacing: .02em;
        @media screen and (max-width: 1024px) {
          font-size: 2.4rem;
          margin: 0 auto 2rem;
        }
        @media screen and (max-width: 599px) {
        }
        span {
          font-size: 2.2rem;
          margin: 0 .8rem;
          vertical-align: middle;
          @media screen and (max-width: 599px) {
            font-size: 2rem;
          }
        }
      }
    }
    &__text {
      &01 {
        text-align: left;
        position: relative;
        font-size: 1.5rem;
        margin: 0 auto 10rem;
        @media screen and (max-width: 1024px) {
          margin: 0 auto 10rem;
        }
        @media screen and (max-width: 599px) {
          font-size: 1.4rem;
          margin: 0 auto 8rem;
        }
        br {
          display: none;
          @media screen and (max-width: 599px) {
            display: block;
          }
        }
        &::befeore {
          content: '';
          position: absolute;
          height: 9rem;
          width: .5rem;
          background-color: var(--color-accent);
          left: 50%;
          transform: translateX(-50%);
          top: 6rem;
          border-radius: 4px;
          @media screen and (max-width: 1024px) {
            height: 6rem;
            top: 4rem;
          }
          @media screen and (max-width: 599px) {
            height: 5rem;
            top: 5.5rem;
          }
        }
      }
    }
    &__search {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 5.5rem 1fr;
      &:nth-of-type(1) {
        margin: 0 auto 1rem;
      }
      &:nth-of-type(2) {
        margin: 0 auto 6rem;
      }
      &Category {
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 1.4rem;
        @media screen and (max-width: 599px) {
          font-size: 1.3rem;
        }
      }
      &List {
        display: flex;
        flex-wrap: wrap;
      }
      &Item {
        font-weight: 600;
        font-size: 1.5rem;
        position: relative;
        padding: 0 2rem 0 0;
        cursor: pointer;
        transition: var(--transition01);
        @media screen and (max-width: 1024px) {
          font-size: 1.3rem;
          padding: 0 1.2rem 0 0;
        }
        @media screen and (max-width: 599px) {
          font-size: 1.1rem;
          line-height: 2;
        }
        &.is-active {
          color: var(--color-accent);
          &::after {
            color: var(--color-text);
          }
        }
        &:hover {
          color: var(--color-accent);
          &::after {
            color: var(--color-text);
          }
        }
        &:not(:last-child) {
          &::after {
            content: '/';
            position: absolute;
            right: 0;
            top: .1rem;
            font-size: 1.3rem;
          }
        }
        &:not(:last-child) {
          margin: 0 2rem 0 0;
          @media screen and (max-width: 1024px) {
            margin: 0 1.2rem 0 0;
          }
        }
      }
    }
    &__list {
      justify-content: space-between;
      display: grid;
      gap: 7.8rem 3rem;
      grid-template-columns: repeat(2, auto);
      @media screen and (max-width: 1024px) {
        gap: 6rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      @media screen and (max-width: 599px) {
        grid-template-columns: 1fr;
        gap: 6rem 0;
      }
      &::after {
        content: "";
        display: block;
        width: 30%;
        height: 0;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      cursor: pointer;
      &:hover {
        img {
          opacity: .8;
        }
      }
      &Label {
        font-size: 1.3rem;
        border: 1px solid var(--color-accent);
        width: 12rem;
        @include flex01;
        margin: 0 0 1rem;
        border-radius: 1.5rem;
      }
      &Type {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        &Item {
          font-size: 1.3rem;
          border: 1px solid var(--color-accent);
          width: 10rem;
          height: 2.4rem;
          letter-spacing: .05em;
          @include flex01;
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            height: 2rem;
          }
          &:not(:last-child) {
            margin: 0 1rem 1rem 0;
          }
        }
      }
      &Tool {
        display: flex;
        flex-wrap: wrap;
        &Item {
          font-size: 1.3rem;
          margin-bottom: 1.5rem;
          letter-spacing: 0.05em;
          font-family: var(--font-accent);
          font-weight: 400;
          color: var(--color-text-gray-lighter01);
          &:not(:last-child) {
            margin: 0 1.2rem 0 0;
            position: relative;
            &::after {
              content: ',';
              position: absolute;
              right: -0.8rem;
              top: 0;
            }
          }
        }
      }
      &Title {
        font-size: 1.7rem;
        font-weight: bold;
        letter-spacing: .05em;
        margin: 0 auto 1rem;
        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
        }
      }
      &Release {
        font-size: 1.2rem;
        color: var(--color-text-gray-lighter01);
      }
    }
    &__thumb {
      margin: 0 0 2rem;
      transition: var(--transition01);
      border-radius: .6rem;
      object-fit: contain;
      @media screen and (max-width: 768px) {

      }
    }
    &__modal {
      &Table {
        letter-spacing: .08em;
        tr {
          margin: 0 auto 2rem;
          display: block;
          @media screen and (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto 1.5rem;
          }
        }
        th {
          text-align: left;
          font-size: 1.5rem;
          width: 200px;
          vertical-align: top;
          @media screen and (max-width: 599px) {
            font-size: 1.4rem;
          }
        }
        td {
          font-size: 1.4rem;
          @media screen and (max-width: 599px) {
            font-size: 1.3rem;
          }
        }
        th, td {
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
        &Image {
          img {
            padding: 2rem;
            margin: 0 auto 4rem;
            border: 1px solid var(--color-border);
            @media screen and (max-width: 599px) {
              padding: 1rem;
              margin: 0 auto 3rem;
            }
          }
        }
      }
      &Link {
        color: var(--color-accent);
        transition: var(--transition01);
        &:hover {
          color: var(--color-accent-dark);
        }
      }
    }
    &__link {
      border-bottom: 2px solid var(--color-accent);
      display: inline-block;
      font-size: 3.2rem;
      font-weight: bold;
      margin: 0 auto;
      text-decoration: none;
      color: var(--color-accent);
      transition: var(--transition01);
      font-family: var(--font-accent);
      &:hover {
        color: var(--color-accent-dark);
        p {
          color: var(--color-accent-dark);
        }
      }
      &Wrap {
        text-align: center;
        margin: 8rem auto 0;
      }
      &Text {
        display: inline;
        font-size: 1.8rem;
        margin: 0 .2rem;
        color: var(--color-accent);
        transition: var(--transition01);
      }
      &External {
        font-size: 1.5rem;
        display: inline;
      }
    }
    &__back {
      font-family: var(--font-accent);
      font-weight: 600;
      text-transform: uppercase;
      transition: var(--transition01);
      transform: rotate(90deg);
      bottom: 18rem;
      left: -14rem;
      font-size: 4.2rem;
      position: fixed;
      @media screen and (max-width: 1024px) {
        position: absolute;
        transform: rotate(0deg);
        bottom: -0.5rem;
        left: 3rem;
        font-size: 3rem;
        line-height: 1;
      }
      @media screen and (max-width: 599px) {
        bottom: -0.4rem;
        left: 2rem;
        font-size: 3rem;
      }
    }
    &__top {
      cursor: pointer;
      right: 2rem;
      bottom: 1rem;
      font-size: 6.3rem;
      transition: var(--transition01);
      position: fixed;
      @media screen and (max-width: 1024px) {
        right: .4rem;
        bottom: 0;
        font-size: 5rem;
      }
    }
    &__back, &__top {
      color: var(--color--base);
    }
  }

  /* 
    モーダルの共通スタイル
  */
  &modal {
    &__overlay {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
    &__content {
      background-color: var(--color--base);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      border-radius: 3rem;
      padding: 6rem 3rem;
      width: 70%;
      max-width: 1024px;
      height: 90vh;
      @media screen and (max-width: 1024px) {
        padding: 5rem 2rem;
        width: 85%;
      }
      @media screen and (max-width: 599px) {
        padding: 4rem 1.5rem;
        width: 90%;
      }
      &Wrap {
        height: 76vh;
        padding: 0 2rem;
        @media screen and (max-width: 599px) {
          padding: 0 1rem;
        }
      }
      &Mv {
        margin: 0 auto 4rem;
        @media screen and (max-width: 599px) {
          height: auto;
          margin: 0 auto 3rem;
        }
      }
    }
    &__scroll {
      overflow-y: scroll;
      /* モーダル共通 */
      &::-webkit-scrollbar {
        width: 1.4rem;
        @media screen and (max-width: 599px) {
          width: .8rem;
        }
      }
      &::-webkit-scrollbar-track {
        background-color: var(--color-text-light);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-accent);
      }
    }
  }

  &jobHistory {
    &__title {
      @extend .c-work__title;
    }
    &__index {
      &01 {
        @extend .c-work__index01;
      }
      &02 {
        @extend .c-work__index02;
      }
    }
    &__explain {
      @extend .c-work__text01;
    }
    &__companyName {
      @extend .c-about__modalIndex;
    }
    &__definition {
      &List {
        display: flex;
        font-size: 1.5rem;
        margin: 0 auto 1.6rem;
        letter-spacing: .05em;
      }
      &Term {

      }
      &Description {

      }
    }
    &__overflow {
      overflow-x: auto;
    }
    &__table {
      width: 100%;
      border: 1px solid var(--color-text);
      margin: 0 auto 3rem;
      @media screen and (max-width: 1024px) {
        width: 1024px;
      }
      tr {
        border: 1px solid var(--color-text);
      }
      th {
        background-color: var(--color-text-light);
        border: 1px solid var(--color-text);
        font-weight: bold;
        font-size: 1.5rem;
        padding: .5rem;
      }
      td {
        //display: flex;
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 1.8;
        &:not(:last-child) {
          border-right: 1px solid var(--color-text);
        }
        span {
          font-size: 1.2rem;
          letter-spacing: .08em;
        }
      }
    }
    &__text {
      &01, &02 {
        font-size: 1.4rem;
        line-height: 1.8;
      }
      &02 {
        margin: 0 auto 1rem;
      }
    }
    &__list {
      @extend .c-about__modalList;
    }
    &__item {
      @extend .c-about__modalItem;
    }
  }
}