html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

body, html, p {
  margin: 0;
  padding: 0;
}

p, a {
  letter-spacing: 0.05em;
}

p {
  color: #333;
}

svg {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  color: #093a59;
}

a:hover {
  text-decoration: none!important;
}

ul, li {
  list-style: none;
}

/* トップ */
.content .box01 {
  height: unset;
  flex-wrap: unset;
  width: 80%;
}
@media screen and (max-width: 1300px) {
  .content .box01 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .content .box01 {
    height: 80vh;
    flex-wrap: wrap;
  }
} 

.content-sitename {
  writing-mode: vertical-lr;
  font-size: 1.6rem;
  text-align: center;
  display: block;
  left: 30px;
  transform: translateY(-50%);
  text-transform: uppercase;
  width: 100%;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .content-sitename {
    writing-mode: horizontal-tb;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
}


.content-sns {
  display: unset;
  left: unset;
  bottom: unset;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .content-sns {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    bottom: 20px;
    top: unset;
  }
}

.content-sns li svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all .3s;
}

.content-sns li:hover svg {
  fill: #093a59;
}

.content-sns li:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .content-sns li {
    margin-bottom: 0;
  }
  .content-sns li:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.wrap-work {
  transition: all .3s;
  clip-path: polygon(0 100%, 100% 0, 0% 0%);
  background-color: #fff;
  height: 70vh;
  left: 200px;
  width: 48%;
}

.wrap-work:hover {
  background-color: #236e9d;
  border: 1px solid #fff;
}

.wrap-work:hover p {
  color: #fff;
}

.wrap-work p {
  color: #236e9d;
  left: -48px;
  top: 40px;
  font-size: 12rem;
}
@media screen and (max-width: 1300px) {
  .wrap-work {
    width: 100%;
    left: 30px;
  }
  .wrap-work p {
    font-size: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .wrap-work {
    left: 0;
    height: 35vh;
  }
  .wrap-work p {
    font-size: 8rem;
    top: 20px;
    left: -35px;
  }
}
@media screen and (max-width: 599px) {
  .wrap-work p {
    font-size: 5.8rem;
    left: -31px;
  }
}

.wrap-about {
  height: 70vh;
  right: 200px;
  width: 48%;
}

.wrap-about:hover {
  background-color: #fff;
  border: 1px solid #236e9d;
}

.wrap-about:hover p {
  color: #236e9d;
}

.wrap-about p {
  color: #fff;
  font-weight: 700;
  right: 40px;
  bottom: -48px;
  font-size: 12rem;
}

@media screen and (max-width: 1300px) {
  .wrap-about {
    width: 100%;
    right: 30px;
  }
  .wrap-about p {
    font-size: 10rem;
    bottom: -40px;
    right: 35px;
  }
}
@media screen and (max-width: 768px) {
  .wrap-about {
    clip-path: polygon(100% 100%, 0 100%, 100% 100%);
    right: 0;
    height: 35vh;
  }
  .wrap-about p {
    font-size: 8rem;
    bottom: -32px;
  }
}

@media screen and (max-width: 599px) {
  .wrap-about p {
    font-size: 5.8rem;
    bottom: -24px;
    right: 20px;
  }
}

/* モーダル共通 */
.modal-scroll::-webkit-scrollbar {
  width: 14px;
}
.modal-scroll::-webkit-scrollbar-track {
  background-color: #ddd;
}
.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #236e9d;
}
@media screen and (max-width: 599px) {
  .modal-scroll::-webkit-scrollbar {
    width: 8px;
  }
}


/* ABOUT（モーダル） */
.modal-about-link {
  color: #236e9d;
  border-bottom: 1px solid #236e9d;
}
.modal-about-link:hover {
  color: #093a59;
  border-bottom: 1px solid #093a59;
}
.modal-about-link svg {
  display: inline-block;
  margin: 0 0 0 5px;
}

.modal-about-index {
  border-left: 6px solid #236e9d;
  font-size: 2.1rem;
  line-height: 1;
  font-weight: bold;
  margin: 0 auto 20px;
  text-transform: uppercase;
}
.modal-about-text01 {
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: .08em;
}
.modal-about-text02 {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: .08em;
  color: #777;
}
.modal-about-name {
  font-size: 3.6rem;
  margin-bottom: 40px;
  color: #236e9d;
}

.list-border li {
  padding: 0 0 0 15px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 1.8;
  font-size: 1.4rem;
}
.list-border li:not(:last-child) {
  margin-bottom: 3px;
}
.list-border li:before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #236e9d;
  position: absolute;
  left: 0;
  top: 10px;
}
.list-border li a:hover {
  color: #236e9d;
}

.modal-close-button:hover {
  color: #093a59;
}

.modal-content {
  height: auto;
  width: 70%;
}
.modal-content-inner {
  padding: 60px 30px 100px 50px;
  height: 80vh;
  border-radius: 50px;
}

.modal-button {
  font-size: 3.6rem;
  right: 60px;
  top: -15px;
  color: #236e9d;
}
.modal-button:hover {
  color: #093a59;
}
.modal-content-scroll {
  height: 65vh;
}

@media screen and (max-width: 768px) {
  .modal-about-text01 {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  .modal-about-text02 {
    font-size: 1.1rem;
  }
  .modal-about-name {
    font-size: 2.8rem;
    margin-bottom: 30px;
  }
  .modal-content {
    width: 80%;
    height: 85vh;
  }
  .modal-content-inner {
    padding: 40px 10px 20px 20px;
    height: 85vh;
    border-radius: 30px;
  }
  .modal-button {
    font-size: 3rem;
    right: 30px;
    top: -12px;
  }
  .modal-content-scroll {
    height: 80vh;
  }
}
@media screen and (max-width: 599px) {
  .modal-content {
    width: 90%;
  }
  .modal-content-inner {
    border-radius: 20px;
  }
  .modal-about-index {
    margin: 0 auto 15px;
  }
  .modal-about-name {
    font-size: 2.4rem;
    margin: 20px auto 30px;
  }
  .list-border li {
    font-size: 1.3rem;
  }
  .modal-content-scroll {
    height: 78vh;
  }
  .modal-button {
    font-size: 2.4rem;
    right: 20px;
    top: -10px;
  }
}


/* WORK（モーダル） */
.work-content {
  padding: 120px 0;
  overflow: hidden;
}
.work-content-inner {
  padding: 180px 50px 100px 50px;
  border-radius: 30px;
  max-width: 1400px;
  width: 80%;
}

.work-list-item-text-wrap {
  margin-top: auto;
}
.work-modal-table {
  letter-spacing: .08em;
}
.work-modal-table tr {
  margin: 0 auto 20px;
  display: block;
}
.work-modal-table th {
  text-align: left;
  font-size: 1.5rem;
  width: 200px;
  vertical-align: top;
}
.work-modal-table td {
  font-size: 1.4rem;
}
.work-list-item {
  width: 30%;
  margin: 0 0 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.work-list-item:hover img {
  opacity: .8;
}
.work-content-title {
  font-size: 12rem;
  margin: 0 auto 15px;
  top: -25px;
}
.work-content-text01 {
  font-size: 1.5rem;
  margin: 0 auto 160px;
}
.work-content-text01 br {
  display: none;
}
.work-content-text01::before {
  content: '';
  position: absolute;
  height: 90px;
  width: 5px;
  background-color: #236e9d;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  border-radius: 4px;
}
.work-content-index01 {
  font-size: 3.2rem;
  margin: 0 auto 30px;
  color: #222;
}
.work-content-index02 {
  font-size: 2.6rem;
  margin: 0 auto 40px;
  letter-spacing: .05em;
}
.work-content-back {
  transform: rotate(90deg);
  bottom: 160px;
  left: -155px;
  font-size: 4.2rem;
}
.work-content-top {
  right: 20px;
  bottom: 10px;
  font-size: 4rem;
  transition: all .3s;
}
.work-content-back, .work-content-top {
  position: fixed;
  color: #fff;
}
.work-modal-content {
  padding: 60px 30px;
  width: 70%;
  max-width: 1024px;
  height: 90vh;
}
.work-modal-content-wrap {
  height: 76vh;
  padding: 0 20px;
}
.work-modal-content-mv {
  margin: 0 auto 40px;
}
.work-list {
  margin: 0 auto 60px;
}
.work-list::after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}
.work-modal-table-image img {
  padding: 20px;
  margin: 0 auto 40px;
}
.work-content-link, .work-content-link p {
  color: #236e9d;
  transition: all .3s;
}
.work-content-link:hover , .work-content-link:hover p {
  color: #093a59;
}
@media screen and (max-width: 768px) {
  .work-content {
    padding: 80px 0 100px;
  }
  .work-content-inner {
    padding: 100px 40px 100px 40px;
  }
  .work-list {
    margin: 0 auto 30px;
  }
  .work-list-item {
    width: 48%;
  }
  .work-content-title {
    font-size: 10rem;
  }
  .work-content-index01 {
    font-size: 2.4rem;
    margin: 0 auto 20px;
  }
  .work-content-index02 {
    font-size: 2.8rem;
    margin: 0 auto 20px;
  }
  .work-content-text01 {
    margin: 0 auto 100px;
  }
  .work-content-text01::before {
    height: 60px;
    top: 40px;
  }
  .work-content-back {
    transform: rotate(0deg);
    bottom: -5px;
    left: 30px;
    font-size: 3rem;
    line-height: 1;
  }
  .work-content-back, .work-content-top {
    position: absolute;
  }
  .work-content-top {
    right: 10px;
    bottom: 0;
  }
  .work-modal-content {
    padding: 50px 20px;
    width: 85%;
  }
  .work-modal-table tr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 15px;
  }
  .work-modal-table th,   .work-modal-table td {
    width: 100%;
  }
}
@media screen and (max-width: 599px)  {
  .work-content {
  }
  .work-content-inner {
    padding: 100px 20px 60px 20px;
    width: 90%;
    border-radius: 20px;
  }
  .work-list-item {
    width: 100%;
    margin: 0 auto 40px;
  }
  .work-content-title {
    left: 0;
    font-size: 7.2rem;
    top: -15px;
  }
  .work-content-text01 {
    font-size: 1.4rem;
    margin: 0 auto 80px;
  }
  .work-content-text01 br {
    display: block;
  }
  .work-content-text01::before {
    height: 50px;
    top: 55px;
  }
  .work-modal-content-mv {
    height: auto;
    margin: 0 auto 30px;
  }
  .work-modal-content {
    padding: 40px 15px;
  }
  .work-modal-content-wrap {
    padding: 0 10px;
  }
  .work-modal-table th {
    font-size: 1.4rem;
  }
  .work-modal-table td {
    font-size: 1.3rem;
  }
  .work-modal-table-image img {
    padding: 10px;
    margin: 0 auto 30px;
  }
  .work-content-back {
    bottom: -4px;
    left: 20px;
    font-size: 3rem;
  }
}