html {
  font-size: 62.5%;
}

body, html, p {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

:root {
  --color--base: #fafafa;
  --color-text: #333;
  --color-text-lighter: #777;
  --color-text-light: #ddd;
  --color-accent: #236e9d;
  --color-accent-dark: #093a59;
  --color-border: #dbdbdb;
  --transition01: all .3s;
  --font--base: 'Noto Sans JP', sans-serif;
  --font-accent: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font--base);
}

ul, li {
  list-style: none;
  font-family: var(--font--base);
}

p, a {
  letter-spacing: 0.05em;
}

svg {
  display: inline;
}


a:hover {
  color: var(--color-accent-dark);
}

a:hover {
  text-decoration: none!important;
}